
h1 {

  color: #29a329 ;
  text-decoration: underline #29a329;
  border-width:2px;
 border-style:double;
 border-color:black;

}

body{

    background-color: #ffe6cc ;

}



li {

  color: #0047b3  ;

}

code {

    color: #b30000 ;

}
